.button {
    height: 100px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    padding: calc(var(--space) * 2);
    max-width: 620px;
    transition: 1.2s all ease-in-out;
  }
  
  .multi-button {
    display: flex;
    width: 100%;
  }
  
  .multi-button button {
        transition: all 0.2s ease-in-out;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 18px;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    padding: 12px 0;
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    letter-spacing: 5px;
    color: white;
    border-radius: 10px;
    outline: none;
    text-shadow: none;
        transition: all 0.2s ease-in-out;
        background-color: #274685;
    
  
  }
  
  .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }