.tugas {
    display: flex;
    flex-direction: row;
  
}
.section-content {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 75%;
    max-width: 500px;
    margin-left: 65px;
    display: flex;
    flex-direction: row;

}

.content-wrapper {
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: center;
}


.box {
    width: 100%;
    margin: 10;
    padding: 10%;
    border: 1px hidden;
    position: relative;
}


.box-2 {
    background: url(kotak.jpg) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;
}

.first {
    display: block;
    position: relative;
    max-width: 100%;
}

.second {
    position: relative;
    color:black ;

  
}


.box-2 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-3 {
    background: url(home.png) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;
    
}

.box-3 .second {
    opacity: 0;
    backface-visibility: hidden;
}



.box-4 {
    background: url(auto.jpg) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;
}

.box-4 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-5 {
    background: url(sensor.jpeg) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;
}


.box-5 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-6 {
    background: url(stecker.png) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;

}

.box-6 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-7 {
    background: url(pju.jpg) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;

}

.box-7 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-8 {
    background: url(parking.jpg) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;
}

.box-8 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-8:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}

.box-9 {
    background: url(kit.jpg) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;

}

.box-9 .second {
    opacity: 0;
    backface-visibility: hidden;
}


.box-10 {
    background: url(watering.jpg) no-repeat center;
    background-size: cover; 
    width: 120%;
    height: 300px;
}


.box-10 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-11 {
    background: url(saga.jpg) no-repeat center;
    background-size: cover; 
    width:120%;
    height: 300px;
    
}

.box-11 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-12 {
    background: url(soil.png) no-repeat center;
    background-size: cover; 
    width:120%;
    height: 300px;
    
}

.box-12 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-13 {
    background: url(water.png) no-repeat center;
    background-size: cover; 
    width:120%;
    height: 300px;
    
}

.box-13 .second {
    opacity: 0;
    backface-visibility: hidden;
}


.box-14 {
    background: url(float.png) no-repeat center;
    background-size: cover; 
    width:120%;
    height: 300px;
    
}

.box-14 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-15 {
    background: url(pump.png) no-repeat center;
    background-size: cover; 
    width:120%;
    height: 300px;
    
}

.box-15 .second {
    opacity: 0;
    backface-visibility: hidden;
}



.box-16 {
    background:url(relay.png) no-repeat center;
    background-size: cover; 
    width:120%;
    height: 300px;
    
}




.box-16 .second {
    opacity: 0;
    backface-visibility: hidden;
}


.box-16:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}

.box-20 {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2)),url(parking.jpg) no-repeat center;
    background-size: cover; 
    width: 79%;
    height: 300px;
    
}


.box-20:hover {
    background: white; 
   box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
}


.box-20 .second {
    opacity: 0;
    backface-visibility: hidden;
}


.box-20:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}


.box-21 {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2)),url(saga.jpg) no-repeat center;
    background-size: cover; 
    width: 79%;
    height: 300px;
    border-radius: 10px;
}



.box-21:hover {
    background: white; 
   box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
}


.box-21 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-23 {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2)),url(relay.png) no-repeat center;
    background-size: cover; 
    width: 79%;
    height: 300px;
    border-radius: 10px;
}


.box-23:hover {
    background: white; 
   box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.41);
}


.box-23 .second {
    opacity: 0;
    backface-visibility: hidden;
}


.box-23:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}


.fab-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
  }
  .fab-checkbox {
    display: none;
  }
  .fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    background: blue;
    border-radius: 50%;
    background: #126ee2;
    box-shadow: 0px 5px 20px #81a4f1;
    transition: all 0.3s ease;
    z-index: 1;
    border-bottom-right-radius: 6px;
    border: 1px solid #0c50a7;
  }
  
  .fab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .fab-checkbox:checked ~ .fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .fab:hover {
    background: #2c87e8;
    box-shadow: 0px 5px 20px 5px #81a4f1;
  }
  
  .fab-dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;
  }
  
  .fab-dots-1 {
    left: 15px;
    animation-delay: 0s;
  }
  .fab-dots-2 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.4s;
  }
  .fab-dots-3 {
    right: 15px;
    animation-delay: 0.8s;
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots {
    height: 6px;
  }
  
  .fab .fab-dots-2 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots-1 {
    width: 32px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .fab-checkbox:checked ~ .fab .fab-dots-3 {
    width: 32px;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%) translateY(-50%) rotate(-45deg);
  }
  
  @keyframes blink {
    50% {
      opacity: 0.25;
    }
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots {
    animation: none;
  }
  
  .fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
   
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
  }
  
  .fab-checkbox:checked ~ .fab-wheel {
    transform: scale(1);
  }
  .fab-action {
    position: absolute;
    background: #0f1941;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
    transition: all 1s ease;
  
    opacity: 0;
  }
  
  .fab-checkbox:checked ~ .fab-wheel .fab-action {
    opacity: 1;
  }
  
  .fab-action:hover {
    background-color: #f16100;
  }
  
  .fab-wheel .fab-action-1 {
    right: -1rem;
    top: 0;
  }
  
  .fab-wheel .fab-action-2 {
    right: 3.4rem;
    top: 0.5rem;
  }
  .fab-wheel .fab-action-3 {
    left: 0.5rem;
    bottom: 3.4rem;
  }
  .fab-wheel .fab-action-4 {
    left: 0;
    bottom: -1rem;
  }
  

.textarea{
    background: #00000040;
    border: 2px solid #ffffff55;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.271);
    color: white;
    padding: 10px;
    resize: none;
    transition: all 0.2s ease-in-out;
}

.textarea:focus{
    border: 2px solid white;
    outline: none;
    background: rgba(0, 0, 0, 0.555);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.271);

}

.float-submit{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: #126ee2;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px #1579f39b;
}

.float-form{
    position: relative;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    transform-origin: top left;
}

.float-form-hide{
    position: relative;
    transition: all 0.2s ease-in-out;
    transform: scale(0);
    transform-origin: bottom right;
}








