*{
    margin: 0;
    padding: 0;
}

.contact{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.contact1{
    margin-left: 80px;
}

.contact2{
    display: flex;
    flex-direction: row;
}

.contact2>img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.contact3{
    width: 400px;
    margin-left: 15px;
    padding: 10px;
}

.contact3>h1{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.contact3>p{
    font-size: 13px;
}

.contact4{
    margin-left: 20px;
    margin-top: 15px;
}

.contact5{
    display: flex;
    flex-direction: column;
}

#input1{
    height: 50px;
    width: 350px;
    margin-right: 20px;
    border: 1px solid black;
   padding-left: 10px;
}



#input4{
    height: 50px;
    width: 350px;
    border: 1px solid black;
    padding-left: 10px;
}

#input2{
    height: 50px;
    margin-top: 30px;
    border: 1px solid black;
    padding-left: 10px;
}

#input3{
    height: 100px;
    margin-top: 30px;
    border: 1px solid black;
    padding-left: 10px;
}

.zoom {
    padding: 50px;
    transition: transform 1s;

    margin: 0 auto;
  }
  
